.popular-left {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/car.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popular-right {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/alpha.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fighter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./images/fighter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.animation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/animation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/story.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

